.hero-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    background-color: lightsalmon;
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    color: #fff;
    background-image: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-submain{
margin: 12.8% 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.hero-submain>h1{
font-size: 5rem;
text-align: center;
}

.hero-submain>p{
    font-size: 1rem;
}

.hero-button-cont{
    width:30rem ;
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.hero-button{
    width: 48%;
    text-align: center;
    margin:0 1rem;
}

.hero-button>button{
    width:100%;
    height: 3rem;
    border-radius: 30px;
    border: none;
    font-size:1.2em;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

.hero-button>button:hover{
    transform: scale(0.9);
}


@media only screen and (max-width:728px){
    .hero-button-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero-button{
        width: 48%;
        text-align: center;
        margin:0.5rem 1rem;
    }
}